@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  /* 控制 NAV 不會出現在 container 的右側*/
  overflow-x: hidden;
  margin: 0;
  background-color: #333;
  color: #222;
}

.container {
  background-color: #fafafa;
  /* 要旋轉時，以左上角為原點 */
  transform-origin: top left;
  /* 旋轉時的動畫效果 */
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

/* 控制 div container (內容主頁) 旋轉 */
.container.show-nav {
  transform: rotate(-20deg);
}

/* 左上角 circle 內的 icon */
.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  /* circle 的寬高 200 配合 circle-container 內的 -100 (中心點位置)，可以達到左上角 1/4 圓的效果*/
  height: 200px;
  width: 200px;
  border-radius: 50%;
  /* 控制 circle 內的 position style */
  position: relative;
  transition: transform 0.5s linear;
}

/* 點選 open / close 時，circle 內的 icon (open/close) 會跟著轉動 */
.container.container.show-nav .circle {
  transform: rotate(-70deg);
}

/* circle 內的 button */
.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  /* button 呈現透明 */
  background: transparent;
  /* 去除 border */
  border: 0;
  font-size: 26px;
  color: white;
}

/* 移除點 button 選時，出現的 border */
.circle button:focus {
  outline: none;
}

/* button open */
.circle button#open {
  left: 60%;
}

/* button close (修飾 close icon 的位置) */
.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  /* 當要顯示 nav 時，讓其位置歸位 = 0 */
  transform: translateX(0);
  /* 延遲一點時間進場 */
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  /* 將 bullet point 給消除 */
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  /* nav 的位置 */
  transform: translateX(-100%);
  /* nav 的動畫 */
  transition: transform 0.4s ease-in;
}

nav ul li i {
  /* icon 變大 */
  font-size: 20px;
  /* icon 跟字的距離增加 */
  margin-right: 10px;
}
/* 為了讓三個 nav 有斜坡的感覺，因此對第二個 ABOUT li 做 margin left */
nav ul li  + li {
  margin-left: 15px;
  transform: translateX(-150%);
}
/* 為了讓三個 nav 有斜坡的感覺，因此對第三個 CONTACT li 做 margin left */
nav ul li  + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}


.content img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  /* auto 置中 */
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555555;
  font-style: italic;
}

.content p {
  color: #333;
  /* 每行間距 */
  line-height: 1.5;
}