@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
  box-sizing: border-box;
}

body {
  /* 背景漸層顏色 */
  background-image: linear-gradient(90deg, #7d5fff, #7158e2);
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.search {
  /* 為了讓 children dom 能夠使btn用 absolute 作用在此 search tag，因此 position 為 relative */
  position: relative;
  height: 50px;
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  /* 寬度一開始看 .btn 的相同，為了讓 btn 在未展開 input 前，將 input 遮住 (所以 .btn 的 position 是 absolute) */
  width: 50px;
  /* 展開或收合時，會觸發 width 屬性的動畫效果 */
  transition: width 0.3s ease;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  /* 展開或收合時，會觸發 transform 屬性的動畫效果 */
  transition: transform 0.3s ease;
}

/* 展開 input 時，有 active class */
.search.active .input {
  width: 200px;
}

.search.active .btn {
  /* 展開時， search icon 會右移 198px */
  transform: translateX(198px);
}

.btn:focus,
.input:focus {
  outline: none;
}