@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* 透過變數的方式來管理顏色 */
:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

/* 灰線 */
.progress-container::before{
  /* 有before，一定要設content */
  content: '';
  background-color: var(--line-border-empty);
  /* 線才會和數字在同一水平線 */
  position: absolute;
  /* 線垂直置中 */
  top: 50%;
  /* 微調線的垂直高度位置 */
  transform: translateY(-50%);
  left: 0;
  /* 線的粗細 */
  height: 4px;
  width: 100%;
  z-index: -1;
}

/* 藍線 */
.progress {
  background-color: var(--line-border-fill);
  /* 線才會和數字在同一水平線 */
  position: absolute;
  /* 線垂直置中 */
  top: 50%;
  /* 微調線的垂直高度位置 */
  transform: translateY(-50%);
  left: 0;
  /* 線的粗細 */
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  /* 變圓形 */
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  /* 字要置中 */
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  /* 圓圈要跟著進度條的顏色改變而改變自身的顏色，顏色會透下面的 .circle.active 來作轉換 */
  transition: .4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

/* 點選下次會有動畫，被點選的感覺 */
.btn:active {
  transform: scale(0.98);
}
.btn:focus {
  outline: 0;
}

/* button 是 disabled 時 */
.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
